@import "../lib/mixins.less";
@import "../lib/styled-input.less";

.time-range {
  display: inline-block;
}

.time-range input {
  .styled-input();
  width: 240px;
  height: 6px;
  position: relative;
  top: 10px;
  left: 30px;
}