* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background-color: inherit;
	vertical-align: top;
}

button:hover {
	cursor: pointer;
}

input {
	font: inherit;
	vertical-align: top;
}

button::-moz-focus-inner {
	outline: 0;
	padding: 0;
	border: 0;
}
